.left-nav {
  .container {
    width: 80%;
    height: 100%;
    justify-content: space-between;
  }
  .links {
    &.flex {
      flex-direction: column;
      justify-content: space-between;
    }
    & a:not(:nth-child(1)) {
      margin-top: 1.5rem;
    }
    .icon {
      font-size: 1.7rem;
    }
    & p {
      color: rgba(0, 0, 0, 0.7);
      font-size: 0.8rem;
      &:hover {
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }

  .link-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo {
    width: 90%;

    & h1 {
      margin-bottom: 1rem;
      font-size: 1.7rem;
      display: block;
      color: #5e72e4;
      font-weight: 900;
      padding: 1rem 1rem 1rem 0;
      text-align: center;
    }
  }

  .upper {
    margin: 0.4rem 0;
  }
  .lower {
    margin: auto 0 2rem;
  }
  .divider {
    width: 100%;
    height: 0.5px;
    background: rgba(#000, 0.12);
    margin: auto;
  }
}
