.help {
  background: rgb(213, 213, 213);
  background: linear-gradient(0deg, rgb(92, 205, 247), rgba(#5e72e4, 1));
  height: 100%;

  width: 100%;
  grid-area: center;
  & .container {
    width: 95%;
    height: 100%;
  }
}
@import "./info";
@import "./about";
@import "./faq";
@import "./terms";
