.app {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 0.17fr 1.83fr 1.83fr 0.17fr;
  grid-template-rows: 0.3fr 1.1fr 1.4fr 1.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "left-nav top-nav top-nav right-nav"
    "left-nav center center right-nav"
    "left-nav center center right-nav"
    "left-nav center center right-nav";

  .center {
    grid-area: center;
  }

  .right-nav {
    grid-area: right-nav;
  }

  .left-nav {
    grid-area: left-nav;
  }

  .top-nav {
    grid-area: top-nav;
  }
}
